<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CustomTags</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
 
    <jsp-config>
  <taglib>
  	<taglib-uri>https://journaldev.com/jsp/tlds/mytags</taglib-uri>
  	<taglib-location>/WEB-INF/numberformatter.tld</taglib-location>
  </taglib>
  </jsp-config>
  
  
   <servlet>
    <servlet-name>Cout</servlet-name>
    <jsp-file>/WebContent/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cout</servlet-name>
    <url-pattern>/Cout</url-pattern>
  </servlet-mapping> 




</web-app>